# Copier vers .env.preprod.local, puis remplacer uniquement les marqueurs __...__.
SPRING_PROFILES_ACTIVE='preprod'
DOVE_DATABASE_URL='jdbc:mysql://10.137.21.115:6446/MYSDOVEDEV?sslMode=REQUIRED&serverTimezone=UTC&characterEncoding=UTF-8'
DOVE_DATABASE_USERNAME='doveUser'
DOVE_DATABASE_PASSWORD='__SECRET_MYSQL_PREPROD__'

DOVE_KEYCLOAK_ISSUER_URI='https://keycloak-sso-mfa-preprod.orange-sonatel.com/realms/DOVE'
DOVE_KEYCLOAK_AUDIENCE='dove-api'
DOVE_KEYCLOAK_WEB_CLIENT_ID='dove-api'
DOVE_ALLOWED_ORIGINS='__URL_FRONTEND_PREPROD__'

DOVE_STORAGE_PROVIDER='s3'
DOVE_STORAGE_PUBLIC_BASE_URL='__URL_BACKEND_PREPROD__'
DOVE_STORAGE_S3_ENDPOINT='https://s3.openshift-storage.svc:443'
DOVE_STORAGE_S3_REGION='us-east-1'
DOVE_STORAGE_S3_BUCKET='dovesenegal-dc5a011a-8c57-4ca9-a394-a54a5d7fa8cc'
DOVE_STORAGE_S3_ACCESS_KEY='__SECRET_S3_ACCESS_KEY__'
DOVE_STORAGE_S3_SECRET_KEY='__SECRET_S3_SECRET_KEY__'
DOVE_STORAGE_S3_PATH_STYLE_ACCESS_ENABLED='true'
DOVE_STORAGE_MAX_UPLOAD_BYTES='536870912'
