# Copier le modèle correspondant vers .env.<environnement>.local.
# Ne jamais enregistrer le fichier .local dans Git.
DOVE_DATABASE_URL='jdbc:mysql://db.example.internal:3306/DOVE?sslMode=REQUIRED&serverTimezone=UTC&characterEncoding=UTF-8'
DOVE_DATABASE_USERNAME='doveUser'
DOVE_DATABASE_PASSWORD='__SECRET_MYSQL__'

DOVE_KEYCLOAK_ISSUER_URI='https://sso.example.sonatel.com/realms/DOVE'
DOVE_KEYCLOAK_AUDIENCE='dove-api'
DOVE_ALLOWED_ORIGINS='https://dove.example.sonatel.com'

DOVE_STORAGE_PROVIDER='s3'
DOVE_STORAGE_PUBLIC_BASE_URL='https://dove.example.sonatel.com'
DOVE_STORAGE_S3_ENDPOINT='https://s3.openshift-storage.svc:443'
DOVE_STORAGE_S3_REGION='us-east-1'
DOVE_STORAGE_S3_BUCKET='__BUCKET__'
DOVE_STORAGE_S3_ACCESS_KEY='__SECRET_S3_ACCESS_KEY__'
DOVE_STORAGE_S3_SECRET_KEY='__SECRET_S3_SECRET_KEY__'
DOVE_STORAGE_S3_PATH_STYLE_ACCESS_ENABLED='true'
DOVE_STORAGE_MAX_UPLOAD_BYTES='536870912'
